* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
}
.none {
	width: max-content;
}
.form1 {
	width: 100%;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.start {
	text-align: center;
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 32px;
	color: #36536b;
	line-height: 36px;
	letter-spacing: -0.25px;
}
.email {
	box-shadow: 10px 10px 25px -10px #36536b40;
	border: none;
}
.email::placeholder {
	font-family: Public Sans;
	font-weight: 700;
	font-size: 15px;

	line-height: 100%;
	letter-spacing: 0px;
}
.cent {
	width: 100%;
}
.question {
	font-family: Public Sans;
	font-weight: 400;
	font-size: 15px;
	color: #6c8294;
	line-height: 100%;
	letter-spacing: 0px;
}
.contacthome {
	font-family: Public Sans;
	font-weight: 700;
	font-size: 15px;
	color: #6c8294;
	line-height: 100%;
}
form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}
main {
	padding: 24px;
}
@media screen and (min-width: 768px) {
	.start {
		font-size: 48px;
	}
	.columns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero {
		gap: 12px;
	}
	form {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 60%;
	}
	.form1 {
		position: absolute;
		width: 40%;
		right: 0px;
		top: 1px;
		padding: 8px;
	}
	.email {
		width: 100%;
	}

	@media screen and (min-width: 1024px) {
		main {
			padding: 48px;
		}
		.hero {
			flex-direction: row-reverse;
			gap: 24px;
		}
		.columns {
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 70%;
		}
		.photo {
			width: 30%;
		}
		.start {
			text-align: start;
		}
	}
}
