* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
}
.none {
	width: max-content;
}
.form1 {
	width: 100%;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 24px;
}
.columns {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}
.start {
	text-align: center;
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 32px;
	color: #36536b;
	line-height: 36px;
	letter-spacing: -0.25px;
}
.email {
	box-shadow: 10px 10px 25px -10px #36536b40;
	border: none;
}
.email::placeholder {
	font-family: Public Sans;
	font-weight: 700;
	font-size: 15px;

	line-height: 100%;
	letter-spacing: 0px;
}
.cent {
	width: 100%;
}
.question {
	font-family: Public Sans;
	font-weight: 400;
	font-size: 15px;
	color: #6c8294;
	line-height: 100%;
	letter-spacing: 0px;
}
.contacthome {
	font-family: Public Sans;
	font-weight: 700;
	font-size: 15px;
	color: #6c8294;
	line-height: 100%;
}
form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.partenaire {
	background-color: #1b262f;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	padding: 48px;
}
.who {
	color: #fbfcfe;
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: -0.25px;
	text-align: center;
}
.today {
	font-family: Public Sans;
	font-weight: 400;
	font-size: 15px;

	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
	color: #fbfcfe;
	opacity: 70%;
}
.about {
	font-family: "Public Sans", sans-serif;
	color: white;
	font-weight: 700;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -0.12px;
	text-align: center;
	padding: 12px;
	border: 1px solid #fbfcfe;
	border-radius: 24px;
	width: max-content;
}
.neuille {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.row2 {
	display: grid;
}
.grid {
	display: grid;
	grid-template-areas:
		"p1 p2"
		"p3 p4"
		"p5 p6";
	gap: 24px 64px;
}
.p1 {
	grid-area: p1;
}
.p2 {
	grid-area: p2;
}
.p3 {
	grid-area: p3;
}
.p4 {
	grid-area: p4;
}
.p5 {
	grid-area: p5;
}
.p6 {
	grid-area: p6;
}
.easy {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: -0.28px;
	text-align: center;
	color: #36536b;
}
.our {
	font-family: "Public Sans", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #6c8294;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: center;
}
.fonctionaliter {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.code {
	padding: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.tel2 {
	padding: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.writing {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.avantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.gap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}
.px {
	width: 106px;
	height: 106px;
}
.personal {
	font-family: Public Sans;
	font-weight: 700;
	font-size: 18px;
	color: #36536b;
	line-height: 25px;
	letter-spacing: -0.14px;
	text-align: center;
}

.conso {
	font-family: Public Sans;
	font-weight: 400;
	font-size: 15px;
	color: #6c8294;
	line-height: 25px;
	letter-spacing: -0.12px;
	text-align: center;
}
.demo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	width: 100%;
}
.ready {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-size: 32px;
	color: #36536b;
	line-height: 36px;
	letter-spacing: -0.25px;
	text-align: center;
}
.chiant2 {
	width: 80%;
}
.chiant3 {
	width: 80%;
}
@media screen and (min-width: 768px) {
	.start {
		font-size: 48px;
	}
	.columns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero {
		gap: 12px;
	}
	form {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 60%;
	}
	.form1 {
		position: absolute;
		width: 40%;
		right: 0px;
		top: 1px;
		padding: 8px;
	}
	.email {
		width: 100%;
	}

	.grid {
		display: grid;
		grid-template-areas:
			"p1 p2 p3"
			"p4 p5 p6";
		gap: 24px 64px;
	}
	.who {
		font-size: 48px;
	}
	.easy {
		font-size: 48px;
	}
	.avantage {
		flex-direction: row;
		align-items: center;
	}
	.chiant2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.chiant3 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media screen and (min-width: 1024px) {
		main {
		}
		.hero {
			flex-direction: row-reverse;
			gap: 24px;
			padding: 48px;
		}
		.columns {
			display: flex;
			flex-direction: column;
			align-items: start;
			width: 70%;
		}
		.photo {
			width: 30%;
		}
		.start {
			text-align: start;
		}
		.partenaire {
			display: flex;
			flex-direction: row-reverse;
			gap: 24px;
		}
		.neuille {
			display: flex;
			flex-direction: column;
			gap: 24px;
			align-items: start;
		}
		.about {
			width: max-content;
			padding: 16px 24px;
		}
		.today {
			text-align: start;
		}
		.code {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 48px;
		}
		.tel2 {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 48px;
		}
		.writing {
		}
		.avantage {
			gap: 12px;
		}
		.demo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}
