*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    padding: 12px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}