.buttonprimary {
	background-color: #ba4270;
	box-shadow: 10px 10px 25px -10px #36536b40;
	font-family: "Public Sans", sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -0.12px;
	width: max-content;
	padding: 8px;
	border-radius: 18px;
	color: white;
}
.buttonprimary:hover {
	opacity: 50%;
}
.buttonprimary:disabled {
	opacity: 75%;
}
.buttonsecondary {
	background-color: #1b262f;
	color: white;
	font-family: "Public Sans", sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -0.12px;
	text-align: center;
	border: 1px solid #fbfcfe;
	width: max-content;
	padding: 8px;
	border-radius: 18px;
}
.buttonsecondary:hover {
	background-color: white;
	color: black;
}
.buttonsecondary:disabled {
	color: #fbfcfe;
	border: 1px solid #fbfcfe;
}
.buttonsecondary3 {
	color: #36536b;
	background-color: white;
	border: 1px solid #36536b;
	font-family: "Public Sans", sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -0.12px;
	width: max-content;
	padding: 8px;
	border-radius: 18px;
}
.buttonsecondary3:hover {
	background-color: #36536b;
    color: white;
}
.buttonsecondary3:disabled {
	opacity: 50%;
}
