nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	width: 100%;
}

.none {
	display: none;
}
.autrepage {
	display: none;
}
@media screen and (min-width: 768px) {
	.autrepage {
		display: block;
		font-family: Public Sans;
		font-weight: 700;
		font-size: 15px;
		line-height: 100%;
		letter-spacing: 0px;
		color: #36536b;
		text-decoration: none;
		opacity: 70%;
	}
	.none {
		display: block;
	}
	.regrouper {
		display: flex;
		gap: 48px;
		justify-content: space-between;
	}
	.burger {
		display: none;
	}
	nav {
		padding: 36px;
	}
	button {
		display: block;
	}
	@media screen and (min-width: 1024px) {
		.regrouper {
			display: flex;
			justify-content: start;
			margin-right: 430px;
			gap: 24px;
			padding: 0px 36px;
			margin-left: 12px;
		}
		nav {
			display: flex;
		}
	}
}
